docs/n8n source/AI Teacher Phase3 - 시험 출제.json
{
  "name": "AI Teacher Phase3 - 시험 출제",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "eaec4281-681a-4898-8183-6201f246c17f",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -80,
        864
      ],
      "credentials": {
        "openAiApi": {
          "id": "FHruXiW3PJfYtsIQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 465,
        "width": 2604
      },
      "id": "912b8c73-d235-485c-a394-1af46445f9c2",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1408,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "a0d774c0-8eec-4ea6-aa3d-c08eae4a514d",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        320,
        640
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aitutor-exam",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3a49d1a7-74cf-498a-81ab-638d41656708",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1344,
        640
      ],
      "webhookId": "1f37ac96-50f1-4cea-8a5e-31a9843760d4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 한국 고등학교 수학 시험 출제 전문가입니다.\n아래 정보를 기반으로 시험 문제를 출제하세요.\n\n## 이전 출제 기록\n{{ $json.prevExams }}\n\n이전 출제를 참고하여:\n- 이전에 출제한 문제와 중복을 피하라\n- 이전 시험에서 학생이 틀린 유형을 재출제하라\n- 난이도 균형을 조절하라\n\n## 출제 조건\n- 단원: {{ $json.topic }}\n- 문제 수: {{ $json.count }}문제\n- 난이도: {{ $json.difficulty }}\n\n## 학생 약점 정보 (Mem0)\n{{ $json.mem0 }}\n\n## 문제은행 레퍼런스\n{{ $json.problems }}\n\n## 출제 규칙\n1) 문제은행에서 조건에 맞는 문제를 우선 선택하라\n2) 문제은행에 부족하면 유사한 신규 문제를 생성하라\n3) 학생 약점이 있으면 해당 약점을 테스트하는 문제를 포함하라\n4) 각 문제에 난이도(하/중/상) 표시\n\n## 출력 형식\n### 시험지\n(문제만, 정답 없이)\n\n### 정답지\n(문제별 정답 + 간단 풀이)\n\n### 채점 기준\n(문제별 배점 + 부분점수 기준)",
        "options": {}
      },
      "id": "188e71ff-50fb-4f9b-b504-5b6ce9641835",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        0,
        640
      ]
    },
    {
      "parameters": {
        "url": "=http://193.168.195.222:8888/memories?user_id={{ $('Webhook').item.json.body.student_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -832,
        640
      ],
      "id": "b3c0798f-3558-4f33-bb34-0fc42cd80bbf",
      "name": "Mem0 Search",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const mem0 = $('Mem0 Search').first().json;\nconst problems = $('Vector Search').all().map(item => JSON.stringify(item.json));\nconst webhook = $('Webhook').first().json.body;\nconst prevExams = $('get data').all().map(item => JSON.stringify(item.json));\n\nreturn [{\n  json: {\n    mem0: JSON.stringify(mem0),\n    problems: problems.join('\\n'),\n    topic: webhook.topic || '이차방정식',\n    count: webhook.count || 5,\n    difficulty: webhook.difficulty || '중',\n    student_id: webhook.student_id || '',\n    prevExams: prevExams.join('\\n---\\n')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        640
      ],
      "id": "9c090ec0-93ba-4ab5-993c-c5dcd88f05dc",
      "name": "Merge Data"
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -672,
        848
      ],
      "id": "0944cac9-919f-40bb-b126-9314c0f14148",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "FHruXiW3PJfYtsIQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "prompt": "={{ $('Webhook').item.json.body.topic }}",
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -624,
        640
      ],
      "id": "6b652325-2d27-4ccf-b74f-690e6c91301d",
      "name": "Vector Search",
      "credentials": {
        "supabaseApi": {
          "id": "IRXs1bJdW31d4V7Q",
          "name": "AITUTOR Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO teacher_exams (teacher_id, topic, difficulty, exam_content, student_id)\nVALUES (\n  '{{ $('Webhook').first().json.body.teacher_id }}',\n  '{{ $('Webhook').first().json.body.topic }}',\n  '{{ $('Webhook').first().json.body.difficulty }}',\n  '{{ $('RAG AI Agent').first().json.output.replaceAll(\"'\", \"''\") }}',\n  '{{ $('Webhook').first().json.body.student_id }}'\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        528,
        640
      ],
      "id": "1a5c81ca-98fc-47d6-a7ee-12280a308783",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "uN9QWmdYp4HSiR7V",
          "name": "AITUTOR Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT topic, exam_content, created_at FROM teacher_exams \nWHERE teacher_id = '{{ $('Webhook').first().json.body.teacher_id }}'\nORDER BY created_at DESC LIMIT 3",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1152,
        640
      ],
      "id": "c712d527-e9ed-434d-9eed-8027970bc1e8",
      "name": "get data",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "uN9QWmdYp4HSiR7V",
          "name": "AITUTOR Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "get data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mem0 Search": {
      "main": [
        [
          {
            "node": "Vector Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Vector Search",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Search": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get data": {
      "main": [
        [
          {
            "node": "Mem0 Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6b7a0907-045a-42a5-b034-3e7b5b069ea3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f25b64f8e08bc6b0af3e5071d97899510fcb40c11931589423f85ff4c37333c1"
  },
  "id": "AzXdvpw5Xxr7W06O",
  "tags": []
}